// h1 {
//     font-size: 5em;
//     font-family: "Space Mono", monospace;
// }

// p {
//     font-size: 2em;
//     font-family: "Permanent Marker", cursive;
// }

html {
    font-family: "Roboto", sans-serif;
}

h1 {
    color: #44f;
    // font-family:'Times New Roman', Times, serif;
    // font-size: 5em;
    // font-style: italic;
    // font-weight: 100;
    font: {
        family: 'Times New Roman', Times, serif;
        size: 5em;
        style: italic;
        weight: 100
    }
}

p {
    font-size: 2em;
    // font-variant: small-caps;
    // 100 200 300 400 500 600 700 800 900
    // thinnest to the thickest 
    font-weight: 400;
    // line-height: 50px;
    line-height: 1.2; //default
    font: italic small-caps 700 4em/40px "Arial";
}